.page{
	height: 97vh;
	font-size: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #bbbdf6;
}

.mainmsgs{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.mainmsg{
	font-size: 250%;
}

.mainBand{
	width: 100%;
	display: flex;
	justify-content: space-around;
	height: 10%;
/*	background-color: yellow;*/
}

.mainButton{
	font-size: 250%;
	background-color: #9893da;
	padding: 2%;
	border-radius: 0.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	cursor: pointer;
}


.logos{
	width: 50%;
	display: flex;
	justify-content: space-around;
	height: 20%;
}

.dassault{
	background-image: url("/assets/images/LOGO-SUPAERO.png");
	/*
	width: 16.45vw;
	height: 10vw;*/
	width: 11.515vw;
	height: 7vw;
	background-size: cover;
}

.supaero{
	background-image: url("/assets/images/dassault.png");
/*	width: 30.8vw;
	height: 10vw;*/
	width: 21.56vw;
	height: 7vw;
	background-size: cover;
}
