.page{
	height: 97vh;
	font-size: 1vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #bbbdf6;
}

.mainmsgs{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.mainmsg{
	font-size: 250%;
	display: flex;
	align-items: flex-end;
}

.mainBand{
	width: 100%;
	display: flex;
	justify-content: space-around;
	height: 25%;
/*	background-color: yellow;*/
}

.mainButton{
	font-size: 250%;
	background-color: #9893da;
	padding: 2%;
	border-radius: 0.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	cursor: pointer;
}


.logos{
	width: 50%;
	display: flex;
	justify-content: space-around;
	height: 10%;
}

.dassault{
	background-image: url("/assets/images/LOGO-SUPAERO.png");
	/*
	width: 16.45vw;
	height: 10vw;*/
	width: 11.515vw;
	height: 7vw;
	background-size: cover;
}

.supaero{
	background-image: url("/assets/images/dassault.png");
/*	width: 30.8vw;
	height: 10vw;*/
	width: 21.56vw;
	height: 7vw;
	background-size: cover;
}

.thanks{
	font-size: 0.8vw;
}

.timeBeforePlaying{
	font-size: 200%;
	padding: 2%;
	border: solid #333 0.3vw;
	border-radius: 0.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 27vw;
}

.allThanks{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bold{
	font-weight: bold;
}

.tapwater{
	background-image: url("/assets/images/tapwater.png");
	width: 3vw;
	height: 3vw;
	background-size: 3vw 3vw;
	margin-left: 0.5vw;
}

.mainmsgs .brain{
	margin-left: 1vw;
}

.mainmsgs .fireicon{
	margin-left: 1vw;
	margin-right: 1vw;
}

.mainmsgs .keyboard{
	margin-left: 1vw;
	margin-right: 1vw;
	width: 2.7vw;
	height: 2.7vw;
	background-size: 2.7vw 2.7vw;
}
