<div class="page">
	<div class="mainmsgs">
		<div class="titleWelcome"> Welcome to the HoRIzON's webpage hosting the <span class="bold"> FIREFIGHTER ROBOT GAME </span> </div> 
	</div>
	
	<div class="logos"> <div class="dassault"> </div> <div class="supaero"> </div> </div>
	<div class="mainmsgs">	
		<div class="mainmsg"> <span> Try to fight fires </span> <div class="fireicon"> </div> <span> with a ground robot </span> <div class="brain"> </div> </div>
		<div class="mainmsg"> <span> by controlling it </span> <div class="keyboard"> </div> <span> when it loses its autonomy </span> </div>
		<div class="mainmsg"> <span> and by managing its water tank </span> <div class="tapwater"> </div>  </div>
		<div class="mainmsg"> <div> <i class="fa fa-wifi" aria-hidden="true"></i> </div> <span> You need a good internet connection! </span> </div> 
	</div>
	<div class="mainBand">
		<div class="mainButton" ui-sref="howto"> RULES </div>
		<div class="mainButton" ui-sref="train"> TRAIN </div>		
		<div class="mainButton" ui-sref="loading" ng-click="play()" ng-if="emptySlot"> PLAY </div>

                <div class="timeBeforePlaying" ng-if="!emptySlot"> 
			<span> Someone is playing: the game will be available in {{remainingtime || "few"}} seconds. </span> 
		</div>
<!--		<div class="mainButton" ui-sref="game" ng-if="!emptySlot"> SEE </div> -->		
		
		<div class="mainButton" ui-sref="scores"> SCORES </div>		
		<div class="mainButton" ui-sref="about"> ABOUT </div>
	</div>
	<div class="allThanks">
		<div class="thanks"> By <span class="bold"> Nicolas Drougard</span>. Many thanks to Corentin Chauffaut and Pascal Chauvin for the robotic framework. firstname.name@isae-supaero.fr </div>
		<div class="thanks"> Also many thanks to Jonathan Carbasse for his great help with angular fullstack (firstname.name@gmail.com). Thanks to EmojiOne for providing free emoji icons. Font Awesome by Dave Gandy - http://fontawesome.io </div> 
	</div>
</div>
