.loading{
	height: 100vh;
	width: 100vw;
	font-size: 5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.advice{
	font-size: 2vw;
}

.loadpart{
	display: flex;
	width: 30vw;
}
