<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div> -->

<div class="screen" ng-keypress="myFunct($event)">
	<div class="camerablock">
		<div class="scores">
<!--
			<div class="score">
				<div> {{score}} </div> 
				<div class="unit"> points </div>
                        </div> -->
			<div class="nbfighted">
				<div> {{nbfighted}} </div>
				<div class="unit"> offs </div>
			</div>
			<div class="nbonfire">
				<div> {{nbonfire}} </div>
				<div class="unit"> fires </div>
			</div>
			<div class="remainingtime">
				<div> {{remainingtime}} </div>
				<div class="unit"> secs </div>
			</div>
		</div>
		<div class="cameracontainer">
<!-- <input ng-keypress="count = count + 1" ng-init="count=0"> key up count: {{count}} -->
			<iframe class="streamcamera" src="http://localhost:8080/?action=stream"   scrolling="no" frameBorder="0">		 	
			</iframe>
			<div class="splatchContainer">
                        	<div class="splatch" ng-class="{visiblesplatch: waterize}" >
                        	</div>
			</div>
			<div class="redhotContainer">
                        	<div class="redhot" ng-style="{opacity: hotscreen}">
                        	</div>
			</div>
		</div>
		<div class="temperature"> 
			<div class="thermometer"> 	
			</div>
			<div class="cercle">
			</div>
			<div class="mercure" ng-style="{height: mercurelevel}"> 	
			</div>
			<div class="bluecercle">
			</div>
		</div>	
	</div>
	<div class="dashboardblock">
		<div class="dashboard">
			<div class="matbblock">
				<!--<div class="matb">
				</div>-->
                                <div class="title"> WATER MANAGEMENT: 
					<!--<span> values close to 0 <i class="fa fa-arrow-right" aria-hidden="true"></i> filling! </span> -->
				</div>
				<div class="wMngmtViz">
					<div class="crosscontainer">
						<div class="filter">
							<div class="bottompumps">
							</div>
							<div class="apump" ng-repeat="(key,value) in pumps" ng-style="{bottom: value + '%'}">
								<div class="pumpinput" ng-click="clickPump(key+1)" ng-class="{pumpborder: pumpSelected==key+1}">
									{{pumpsFlows[key]}}
								</div>
								<div class="plusminusbuttons">
									<div class="plusbutton fa fa-plus-square" ng-click="pumpPlus(key)">
									</div>
									<div class="minusbutton fa fa-minus-square" ng-click="pumpMinus(key)">
									</div>								
								</div>
							</div>
						</div>
						<div class="trashpipe">
						</div>
						<div class="inpipe">
						</div>
						<div class="outpipe">
						</div>
						<div class="backpipe">
						</div>
						<div class="initpipe">
						</div>
						<div class="trashtap">
						</div>
						<div class="bendedpipe" ng-repeat="(key, value) in bendedpipes" ng-style="{bottom: value + '%'}" ng-class="{nonvisible: inoutpipes[key]}">
						</div>
						<div class="normalpipe" ng-repeat="(key, value) in bendedpipes" ng-style="{bottom: value + '%'}" ng-class="{nonvisible: !inoutpipes[key]}">
						</div>
						<div class="initpipes" ng-repeat="(key, value) in bendedpipes" ng-style="{bottom: value + '%'}"> 
						</div>
<!--						<div class="bendedpipe2">
						</div>
						<div class="bendedpipe3">
						</div>
						<div class="bendedpipe4">
						</div>
						<div class="bendedpipe5">
						</div>
-->
					</div>
	                                <div class="robinetcontainer">
						<div class="robinet" ng-style="{left: xrobinet+'%', bottom: yrobinet - 15 +'%'}"> 
						</div>
						<div class="wheel" ng-style="{left: xrobinet+7.5+'%', bottom: yrobinet+12.5+'%'}"> 
						</div>
						<div class="right" ng-style="{left: xrobinet+9.6+'%', bottom: yrobinet+15+'%'}" ng-class="{nonvisible: (faucetcontrol < 3)}">
						</div>
						<div class="right" ng-style="{left: xrobinet+11.6+'%', bottom: yrobinet+15+'%'}" ng-class="{nonvisible: (faucetcontrol < 1)}">
						</div>
						<div class="right" ng-style="{left: xrobinet+13.6+'%', bottom: yrobinet+15+'%'}" ng-class="{nonvisible: (faucetcontrol < 2)}">
						</div>
						<div class="left" ng-style="{left: xrobinet+9.5+'%', bottom: yrobinet+15+'%'}" ng-class="{nonvisible: (faucetcontrol > -3)}">
						</div>
						<div class="left" ng-style="{left: xrobinet+7.5+'%', bottom: yrobinet+15+'%'}" ng-class="{nonvisible: (faucetcontrol > -1)}">
						</div>
						<div class="left" ng-style="{left: xrobinet+5.5+'%', bottom: yrobinet+15+'%'}" ng-class="{nonvisible: (faucetcontrol > -2)}">
						</div>
						<div class="string" ng-style="{left: xrobinet+12.5+'%', bottom: yrobinet+3+'%'}"> 
						</div>
<!--						<div class="curvepoint" ng-repeat="(key,value) in robcurve" ng-style="{left: value.x + 13 +'%', bottom: value.y -15 +'%'}">
						</div>
						<div class="axispoint" ng-repeat="(key,value) in robaxis" ng-style="{left: value + 13 +'%'}">
						</div>
						<div class="headArrow">
						</div>
						<div class="ticknumber" ng-repeat="(key,value) in robticknumber" ng-style="{left: value.x + 13 +'%'}">
							<span> {{value.val}} </span>						
						</div>
						<div class="ticks" ng-repeat="value in robticknumber" ng-style="{left: value.x + 14 +'%'}">
						</div>
-->
						<div class="robinetwater" ng-style="{left: xrobinetwater-2+'%', bottom: yrobinet - 20 +'%'}"> 
						</div>
						<div class="montainAxis"> 
						</div>
						<div class="neckcontainer">
						</div>
						<div class="tankcontainer">
							<div class="tankcontainerwater" ng-style="{height: watlevelContainer-4+'%'}"> 
							</div>                                	
						</div>
						<div class="faucetaxis"> 
							<span> TAP POSITION: </span> 
							<span> {{faucetxaxis}} </span> 
						</div>
						<div class="force"> 
							<span> FORCE: {{faucetcontrol}} </span> 
						</div>
						<div class="mainbuttonL" ng-click="faucetctrlfctminus()"> <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
 						</div>
						<div class="mainbuttonR" ng-click="faucetctrlfctplus()"> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 
						</div>
						<div class="bottomPipe"> 
						</div>
						<div class="topPipe"> 
						</div>	
						<div class="toppipeArrow">
						</div>	
						<div class="bottompipeArrow">
						</div>						
					</div>
<!--
					<div class="crosscontainer">
						<div class="topArrow" ng-click="openingctrlfctplus()">	
						</div>						
						<div class="cross" ng-style="{transform: 'rotate('+ rotcross +'deg)'}">
						</div>
						<div class="botArrow" ng-click="openingctrlfctminus()">	
						</div>
						<div class="controlnames"> 
							<span> VALVE OPENING: </span> <span> {{valveopening}} </span> 
						</div>
						<div class="crossvalues">
			                                <span>COUPLE: {{openingcontrol}} </span>
                		                </div> 
					</div> 	
-->				
				</div>                             
			</div>		
			<div class="mapblock"> 
				<div class="map">
					<div class="point" ng-style="{top: propFromTop, left: propFromLeft, transform: 'rotate('+ rotindeg +'deg)'}">
				
					</div>
					<div class="tree" ng-repeat="(key, value) in trees" ng-style="{top: value.y, left: value.x}">
					</div>
					<div class="fire" ng-repeat="(key, value) in firesloc" ng-style="{top: value.y, left: value.x, opacity: opacityfire[key]}">
					</div>

					<div class="loadlocB" ng-style="{top: zones[1].y, left: zones[1].x}">
					</div>
					<div class="loadlocW" ng-style="{top: zones[0].y, left: zones[0].x}">
					</div>
				</div>
			</div>
			<div class="warningsblock"> 
				<div class="title"> ROBOT: </div>
				<div class="battery full" ng-style="{width: battlevel+'%'}"></div>
				<div class="gps">
					<span>GPS</span>				
				</div>
				<div class="waterlevel">				
				</div>
				<div class="waterempty" ng-style="{height: watlevel+'px'}">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- TODO -->
<!-- http://stackoverflow.com/questions/6633248/how-to-grab-keyboard-events-on-an-element-which-doesnt-accept-focus -->
