<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div> -->

    <!-- OVERLAYS -->


                <!-- <div class="loadGif">
		</div> 
		<md-progress-circular md-mode="indeterminate"></md-progress-circular> -->

<div class="screen" ng-class="{screenWrench: wrenchMode}" ng-click="otherclick()">
	<div ng-class="{overlayOpen: overlayOpen}" class="overlay">
		<div class="gameover" ng-if="cause==1 || cause==2"> GAME OVER! </div>
                <div class="gameover" ng-if="cause==0"> THE END </div>
                <div class="textthx" ng-if="cause==0"> Mission completed, CONGRATULATION! </div>
		<div class="whyover" ng-if="cause==1"> 
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
			<div class="textcause"> Battery empty </div> 
			<i class="fa fa-battery-empty" aria-hidden="true"></i> 
		</div>
		<div class="whyover" ng-if="cause==2"> 
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
			<div class="textcause"> Overheat </div> 
			<i class="fa fa-thermometer-full" aria-hidden="true"></i> 
		</div>
		<div class="numextfires"> 
			<div class="fireicon"> </div> 
			<span> {{finalnumfires}} extinguished fires </span> 
			<i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 
		</div>
		<div class="newbestscore" ng-if="newBestScore"> 
			<span> NEW BEST SCORE! Good job </span> <span style="color: #05BDFF">&nbsp;{{winnerPseudo}}</span> <span>!</span>
			<!-- pseudo: <input type="text" maxlength="10" ng-model="user.pseudo" /> <div class="validpseudo" ui-sref="welcome" ng-click="sendpseudo()"> OK </div> -->
		</div>
		<div ng-click="gohome()" ui-sref="welcome" class="gohome"> 
			<i class="fa fa-reply" aria-hidden="true"></i> 
			<span> back to main menu </span> 
		</div>
	</div> 


	<div ng-class="{overlayOpen: alarmOverlayOpen}" class="alarmOverlay">
		<i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 
		<span class="textAlarm"> {{alarmText[alarmCause]}} ! </span>
		<div class="alarmButton" ng-click="removeAlarm()"> I got it </div>	
	</div>

	<div class="leftPart">  
		<div class="missionBlock">
			<div class="maincontainermission">
				<div class="iconCircle">
					<i class="fa fa-trophy" aria-hidden="true"></i>
				</div>
				<div class="gametitle">
					Firefighter Human-Robot Team <div class="fireicon"> </div>
				</div>
				<div class="infonoff">	
					<div class="missioninfo">
						<div class="numbersinfo"> 
							<!-- <i class="fa fa-star-o" aria-hidden="true"></i> -->
							<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
							{{nbfighted}} 
						</div> 
						<div  class="numbersinfo"> <i class="fa fa-clock-o" aria-hidden="true"></i>   {{remainingtime}} </div>
							<!--<button ng-click="killall()" ui-sref="welcome">Kill all!</button>-->
					</div>
					<div class="onoff">						
						<i ng-click="killall()" ui-sref="welcome" class="fa fa-power-off" aria-hidden="true"></i>	
					</div>
				</div>
			</div>
		</div>
		<div class="waterBlock"> 
			<div class="maincontainer">
				<div class="iconCircle">
					<i class="fa fa-tint" aria-hidden="true"></i>
				</div>
	                        <div class="robinetcontainer">
					<div class="robinet" ng-style="{left: xrobinet+2+'%', bottom: yrobinet/1.8 + 42 +'%'}"> 
					</div>
					<div class="wheel" ng-if="direction!=0" ng-class="{wheelinverse: direction<0}"  ng-style="{left: xrobinet+7.9+'%', bottom: yrobinet/1.8+58+'%', 'animation-duration': animtime + 's'}"> 
					</div>
					<div class="wheel" ng-if="direction==0" ng-style="{left: xrobinet+7.9+'%', bottom: yrobinet/1.8+58+'%'}"> 
					</div>
					<div class="string" ng-style="{left: xrobinet+11.5+'%', bottom: yrobinet/1.8+52+'%'}"> 
					</div>
					<div class="robinetwaterContainer" ng-style="{left: xrobinetwater-0.6+'%', bottom: yrobinet/1.8 + 37 +'%'}">
						<div class="robinetwater" ng-style="{width: waterwidth + 'vw', 'background-size': waterwidth + 'vw 1vw'}">
						
						</div>
					</div>
					<div class="montainAxis"> 
					</div>
					<div class="neckcontainer">
					</div>
					<div class="tankcontainer">	
						<div class="tankcontainerwaterpart">
							<div class="tankcontainerwaterviz">
								<div class="graduations"> </div>
								<div class="tankcontainerwater" ng-style="{height: watlevelContainer + '%'}"> 
								</div>
							</div>
<!-- TODO manage water level w.r.t leaks and pushbutton and tap position
leaks/wrench/etc in server files-->
						</div>    
						<div class="tankcontainerleakspart">
							<!--<div class="bigCross" ng-class="{nonvisible: !brokenContainer}">
								<i class="fa fa-times" aria-hidden="true" ng-style="{'font-size': crossSize + 'vw'}"></i>
							</div>-->
<!--  -->
							<div class="wrapLeaks">
								<div class="leakContainer" ng-repeat="(key, value) in leakPlaces">
									<div class="leak" ng-class="{nonvisible: noleakat[key]}" ng-style="{'transform': 'scale(' + leaksReverse[key] + ', 1)', 'left': leftValues[key] + '%'}"  ng-click="clickLeak(key); $event.stopPropagation();">
									</div>
								</div>
							</div>
<!--							<div class="topleaks">
								<div class="leaks">
									<div class="leaktop" ng-class="{nonvisible: noleakat[0]}" ng-click="clickLeak(0)">
									</div>
									<div class="leaktop" ng-class="{nonvisible: noleakat[1]}" ng-click="clickLeak(1)">
									</div>
								</div>	
								<div class="containertap">
								</div>
								<div class="leaks">
									<div class="leaktop" ng-class="{nonvisible: noleakat[2]}" ng-click="clickLeak(2)">
									</div>
									<div class="leaktop" ng-class="{nonvisible: noleakat[3]}" ng-click="clickLeak(3)">
									</div>
								</div>								
							</div>
							<div class="botleaks">
								<div class="leak" ng-class="{nonvisible: noleakat[4]}" ng-click="clickLeak(4)">
								</div>
								<div class="leak" ng-class="{nonvisible: noleakat[5]}" ng-click="clickLeak(5)">
								</div>
								<div class="leak" ng-class="{nonvisible: noleakat[6]}" ng-click="clickLeak(6)">
								</div>
								<div class="leak" ng-class="{nonvisible: noleakat[7]}" ng-click="clickLeak(7)">
								</div>
							</div>
-->
						</div>
						<div class="legsContainer">
							<div class="legs">
							</div>                           	
						</div>
					</div>
<!--
					<div> 
						<span> TAP POSITION: {{faucetxaxis}} </span> 
						 
					</div>
-->
					<div class="wmbuttons">
						<!-- <i class="fa fa-mouse-pointer" aria-hidden="true"></i> -->
						<div class="speed">  
							<div class="wheelsmall2"> </div>
							<div ng-if="language=='english'"> speed: {{faucetcontrol}} </div>
							<div ng-if="language=='french'"> vitesse: {{faucetcontrol}} </div>
						</div>
						<div class="buttonWheel">
							<div class="buttonChar">
								<div class="mainbuttonL" ng-class="{cursorPointer: !wrenchMode}" ng-click="faucetctrlfctminus(); $event.stopPropagation();"> 
									<div class="undo"> <i class="fa fa-undo" aria-hidden="true"></i></div>
									<div class="wheelsmall"> </div>
								</div>
								<div class="char"> s </div>
							</div>
							<div class="buttonletterChar">
								<div class="mainbuttonR" ng-class="{cursorPointer: !wrenchMode}" ng-click="faucetctrlfctplus(); $event.stopPropagation();"> 
									<div class="undo">  <i class="fa fa-undo" aria-hidden="true"></i> </div>
									<div class="wheelsmall"> </div>
								</div>
								<div class="char"> d </div>
							</div>
						</div>
						<div class="buttonletterChar">
							<div class="pushButton" ng-class="{cursorPointer: !wrenchMode}" ng-click="waterPushButton(); $event.stopPropagation();">
								<!--<div class="pbcircle">
									<div class="pbcirclesmall">
									</div>
								</div>-->
								<div class="buttonTap">
								</div>
							</div>
							<div class="char"> e </div>
						</div>
						<div class="buttonletterChar">
							<div class="wrenchButton" ng-class="{cursorPointer: !wrenchMode}" ng-click="wrenchOnOff(); $event.stopPropagation();">
								<i class="fa fa-wrench" aria-hidden="true"></i>
							</div>
							<div class="char"> a </div>
						</div>
<!--
						<div class="newContainerButton" ng-class="{cursorPointer: !wrenchMode}" ng-click="newContainer()">
							<div class="containerIcon">
							</div>
						</div>-->					
					</div>
				</div>				
			</div>
		</div>
	</div>
	<div class="rightPart"> 
		<div class="videoBlock"> 
			<div class="maincontainercam">
<!--				<div class="iconCircle"> 
					<i class="fa fa-video-camera" aria-hidden="true"></i>
				</div>
				
-->
				<div class="streamcamera">

					<img class="imagecam" ng-src={{addressUpdated}} scrolling="no" frameBorder="0">
<!--					<img class="imagecam" ng-src="http://localhost:8081/?action=stream"   scrolling="no" frameBorder="0">
					<img class="imagecam" src="http://{{ipaddress}}:8080/?action=stream" scrolling="no" frameBorder="0"> -->
					<div class="splatchContainer">
				        	<div class="splatch" ng-class="{visiblesplatch: waterize}">
				        	</div>
					</div>
					<div class="redhotContainer">
				        	<div class="redhot" ng-style="{opacity: hotscreen}">
				        	</div>
					</div>
<!--					<div class="automanual">
						<span ng-if="autonomous"> AUTONOMOUS </span>
						<span ng-if="!autonomous"> MANUAL </span>
					</div> -->
				</div>
			</div>		
		</div>
		<div class="infoBlock"> 
			<div class="maincontainer">
				<div class="iconCircle">
					<i class="fa fa-info" aria-hidden="true"></i>
				</div>
				<div class="iconscontents">
					<div class="linktoicon">
						<i class="fa fa-globe" aria-hidden="true"></i>
					</div>
					<div class="maincontainersec">
						<div class="mapblock">
							<div class="map">
								<div class="point" ng-style="{top: propFromTop, left: propFromLeft, transform: 'rotate('+ rotindeg +'deg)'}">
								</div>
								<div class="tree" ng-repeat="(key, value) in trees" ng-style="{top: value.y, left: value.x}">
								</div>
								<div class="fire" ng-repeat="(key, value) in firesloc" ng-style="{top: value.y, left: value.x, opacity: opacityfire[key]}">
								</div>
								<div class="loadlocB" ng-style="{top: zones[1].y, left: zones[1].x}">
								<!--<i class="fa fa-battery-empty" ng-show="iconBatt==0"></i>
								<i class="fa fa-battery-quarter" ng-show="iconBatt==1"></i>
								<i class="fa fa-battery-half" ng-show="iconBatt==2"></i>
								<i class="fa fa-battery-three-quarters" ng-show="iconBatt==3"></i>
								<i class="fa fa-battery-full" ng-show="iconBatt==4"></i>-->
									<i class="fa fa-bolt" aria-hidden="true"></i>					
								</div>
								<div class="loadlocW" ng-style="{top: zones[0].y, left: zones[0].x}">
									<div>
										<i class="fa fa-tint" aria-hidden="true"></i>
									</div>						
									<div class="waterlevelmap" ng-style="{height: watlevelContainerMap + 'px'}">
									</div>				
								</div>
							</div>
						</div>
					</div>
					<!--<span> {{nbonfire}} </span>-->
				</div>
				<div class="iconscontents2">
					<div class="linktoicon">
						<div class="robothead">
						</div>
					</div>
					<div class="maincontainersec2">
						<div class="warningsblock">
							<div class="robtoppart">
								<div class="autonomy">
									<div class="brain" ng-if="autonomous"> <!-- <i class="fa fa-signal" aria-hidden="true"></i> --> </div>
									<div class="keyboard" ng-if="!autonomous"> </div>
									<span ng-if="autonomous && language=='english'"> AUTONOMOUS </span>
									<span ng-if="!autonomous && language=='english'"> MANUAL </span>
									<span ng-if="autonomous && language=='french'"> AUTONOME </span>
									<span ng-if="!autonomous && language=='french'"> MANUEL </span>  			
								</div>
								<div class="batTemp">
									<div class="connectbat">
										<div class="battery">
											<div class="batlev"  ng-style="{width: battlevel+'%'}">
											</div>
										</div>
										<div class="batconnect">
										</div>
									</div>
									<div class="therm">
										<div class="temperature">
											<div class="cercle">
												<div class="bluecercle">
												</div>								
											</div>
											<div class="someRed">
											</div>
											<div class="thermometer">
												<div class="mercure" ng-style="{height: mercurelevel}"> 	
												</div>	
											</div>								
										</div>	
									</div>

								</div>
								
							</div>
							<div class="robotwaterres">
								<div class="littlesplatchwhite">
								</div>
								<div class="waterlevelbar">
									<div class="waterlevelcont">
										<div class="waterlevel" ng-style="{width: watlevel +'%'}">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!--
	<div class="camerablock">
		<div class="scores">
			<div class="nbfighted">
				<div> {{nbfighted}} </div>
				<div class="unit"> offs </div>
			</div>
			<div class="nbonfire">
				<div> {{nbonfire}} </div>
				<div class="unit"> fires </div>
			</div>
			<div class="remainingtime">
				<div> {{remainingtime}} </div>
				<div class="unit"> secs </div>
			</div>
		</div>
		<div class="cameracontainer">
			<iframe class="streamcamera" src="http://localhost:8080/?action=stream"   scrolling="no" frameBorder="0">		 	
			</iframe>
			<div class="splatchContainer">
                        	<div class="splatch" ng-class="{visiblesplatch: waterize}" >
                        	</div>
			</div>
			<div class="redhotContainer">
                        	<div class="redhot" ng-style="{opacity: hotscreen}">
                        	</div>
			</div>
		</div>
		<div class="temperature"> 
			<div class="thermometer"> 	
			</div>
			<div class="cercle">
			</div>
			<div class="mercure" ng-style="{height: mercurelevel}"> 	
			</div>
			<div class="bluecercle">
			</div>
		</div>	
	</div>
	<div class="dashboardblock">
		<div class="dashboard">
			<div class="matbblock">
                                <div class="title"> WATER MANAGEMENT: 
				</div>
				<div class="wMngmtViz">
					<div class="crosscontainer">
						<div class="filter">
							<div class="bottompumps">
							</div>
							<div class="apump" ng-repeat="(key,value) in pumps" ng-style="{bottom: value + '%'}">
								<div class="pumpinput" ng-click="clickPump(key+1)" ng-class="{pumpborder: pumpSelected==key+1}">
									{{pumpsFlows[key]}}
								</div>
								<div class="plusminusbuttons">
									<div class="plusbutton fa fa-plus-square" ng-click="pumpPlus(key)">
									</div>
									<div class="minusbutton fa fa-minus-square" ng-click="pumpMinus(key)">
									</div>								
								</div>
							</div>
						</div>
						<div class="trashpipe">
						</div>
						<div class="inpipe">
						</div>
						<div class="outpipe">
						</div>
						<div class="backpipe">
						</div>
						<div class="initpipe">
						</div>
						<div class="trashtap">
						</div>
						<div class="trashtapwater" ng-style="{width: widthTrashTapWater + 'px'}">
						</div>
						<div class="bendedpipe" ng-repeat="(key, value) in bendedpipes" ng-style="{bottom: value + '%'}" ng-class="{nonvisible: inoutpipes[key]}">
						</div>
						<div class="normalpipe" ng-repeat="(key, value) in bendedpipes" ng-style="{bottom: value + '%'}" ng-class="{nonvisible: !inoutpipes[key]}">
						</div>
						<div class="initpipes" ng-repeat="(key, value) in bendedpipes" ng-style="{bottom: value + '%'}"> 
						</div>
					</div>
	                                <div class="robinetcontainer">
						<div class="robinet" ng-style="{left: xrobinet+'%', bottom: yrobinet - 15 +'%'}"> 
						</div>
						<div class="wheel" ng-style="{left: xrobinet+7.5+'%', bottom: yrobinet+12.5+'%'}"> 
						</div>
						<div class="right" ng-style="{left: xrobinet+9.6+'%', bottom: yrobinet+15+'%'}" ng-class="{nonvisible: (faucetcontrol < 3)}">
						</div>
						<div class="right" ng-style="{left: xrobinet+11.6+'%', bottom: yrobinet+15+'%'}" ng-class="{nonvisible: (faucetcontrol < 1)}">
						</div>
						<div class="right" ng-style="{left: xrobinet+13.6+'%', bottom: yrobinet+15+'%'}" ng-class="{nonvisible: (faucetcontrol < 2)}">
						</div>
						<div class="left" ng-style="{left: xrobinet+9.5+'%', bottom: yrobinet+15+'%'}" ng-class="{nonvisible: (faucetcontrol > -3)}">
						</div>
						<div class="left" ng-style="{left: xrobinet+7.5+'%', bottom: yrobinet+15+'%'}" ng-class="{nonvisible: (faucetcontrol > -1)}">
						</div>
						<div class="left" ng-style="{left: xrobinet+5.5+'%', bottom: yrobinet+15+'%'}" ng-class="{nonvisible: (faucetcontrol > -2)}">
						</div>
						<div class="string" ng-style="{left: xrobinet+12.5+'%', bottom: yrobinet+3+'%'}"> 
						</div>
						<div class="robinetwater" ng-style="{left: xrobinetwater-2+'%', bottom: yrobinet - 20 +'%'}"> 
						</div>
						<div class="montainAxis"> 
						</div>
						<div class="neckcontainer">
						</div>
						<div class="tankcontainer">
							<div class="tankcontainerwater" ng-style="{height: watlevelContainer-4+'%'}"> 
							</div>                                	
						</div>
						<div class="faucetaxis"> 
							<span> TAP POSITION: </span> 
							<span> {{faucetxaxis}} </span> 
						</div>
						<div class="force"> 
							<span> FORCE: {{faucetcontrol}} </span> 
						</div>
						<div class="mainbuttonL" ng-click="faucetctrlfctminus()"> <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
 						</div>
						<div class="mainbuttonR" ng-click="faucetctrlfctplus()"> <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> 
						</div>
						<div class="bottomPipe"> 
						</div>
						<div class="topPipe"> 
						</div>	
						<div class="toppipeArrow">
						</div>	
						<div class="bottompipeArrow">
						</div>						
					</div>				
				</div>                             
			</div>		
			<div class="mapblock"> 
				<div class="map">
					<div class="point" ng-style="{top: propFromTop, left: propFromLeft, transform: 'rotate('+ rotindeg +'deg)'}">
				
					</div>
					<div class="tree" ng-repeat="(key, value) in trees" ng-style="{top: value.y, left: value.x}">
					</div>
					<div class="fire" ng-repeat="(key, value) in firesloc" ng-style="{top: value.y, left: value.x, opacity: opacityfire[key]}">
					</div>

					<div class="loadlocB" ng-style="{top: zones[1].y, left: zones[1].x}">
						<i class="fa fa-battery-empty" ng-show="iconBatt==0"></i>
						<i class="fa fa-battery-quarter" ng-show="iconBatt==1"></i>
						<i class="fa fa-battery-half" ng-show="iconBatt==2"></i>
						<i class="fa fa-battery-three-quarters" ng-show="iconBatt==3"></i>
						<i class="fa fa-battery-full" ng-show="iconBatt==4"></i>						
					</div>
					<div class="loadlocW" ng-style="{top: zones[0].y, left: zones[0].x}">
						<div>
							<i class="fa fa-tint" aria-hidden="true"></i>
						</div>						
						<div class="waterlevelmap" ng-style="{height: watlevelContainerMap + 'px'}">
						</div>				
					</div>
				</div>
			</div>
			<div class="warningsblock"> 
				<div class="title"> ROBOT: </div>
				<div class="battery full" ng-style="{width: battlevel+'%'}"></div>
				<div class="gps">
					<span>GPS</span>				
				</div>
				<div class="waterlevel">				
				</div>
				<div class="waterempty" ng-style="{height: watlevel+'px'}">
				</div>
			</div>
		</div>
	</div>
-->
