.train{
	height: 97vh;
	width: 100vw;
	font-size: 3vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
/*	background-color: #4F849E;*/
	background-color: #373737;
/*	cursor: url("/assets/images/wrench.png"), pointer;*/
	font-family: 'Montserrat', sans-serif;
}


.twoparts{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
}

.waterBlocktrain{
	margin-top: 10%;
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
/*	background-color: yellow;*/
}

.watermngttrain{
	width: 35vw;
	height: 95%;
}

.robotblocktrain{
	margin-top: 10%;
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
/*	background-color: blue;*/
}

.robotcommandstrain{
	width: 30vw;
	height: 95%;
/*	background-color: yellow;*/
}

/*
.train .robinet{
	background-image: url("/assets/images/robinet.png");
	width: 5vw;
	height: 5vw;
	background-size: 5vw 5vw;
        position: absolute;
}*/

.train .wmbuttons{
	bottom: 5%;
}

.robotControl{
	/*width: 10%;*/
	width: 80%;
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.robotcontrol .fa{
	display: flex;
	self-align: center;
}

.screenWrenchTrain{
	cursor: url("/assets/images/wrench.png"), pointer;
}

/*
.train .neckcontainer{
	top: 35%;
}

.train .tankcontainer{
	top: 40%;
}
*/
.screenTrain{
	width: 100%;
	height: 100%;
/*	cursor: url("/assets/images/wrench.png"), pointer;*/
}

.cursorPointerTrain{
	cursor: pointer;
}

.gohomeTrain{
	margin-top: 2vw;
	font-size: 2vw;
	color: #05BDFF;
	cursor: pointer;
}

.videoOrGoback{
	display: flex;
	flex-direction: column;
}

.train .robinetcontainer{
	background-color: #05BDFF;
	border-radius: 1vw;
}

.train .neckcontainer{
	background-color: #05BDFF;
}

.train .iconCircle{
	background-color: white;
	border: solid white;
}

.train .maincontainer{
	border: solid white;
}
